.header .center .logo {
    float: left;
    margin-top: 30px;
}
.header p {
    float: left;
    line-height: 200px;
    font-size: 30px;
    margin-left: 25px;
    color: #f22;
}
.middle {
    padding: 71px 0;
    background: url(../images/login_bg.jpg) no-repeat;
    margin-bottom: 75px;
}
.middle .login {
    background:#fff;
    padding:37px 71px 77px;
    overflow: hidden;
}
.middle .login .input {
    margin-top:40px;
    border:1px solid #000;
    overflow:hidden;
}
.middle .login span {
    font-size:24px;
    color:#333;
    line-height:50px;
    padding: 0 0 0 30px;
}
.middle .login input {
    padding:0 0 0 25px;
    line-height:50px;
    height: 50px;
    font-size:24px;
    border:0;
}
.middle .login #code {
    height: 50px;
    width:100px;
    float: right;
}
.middle .a {
    overflow:hidden;
}
.middle .forget {
    color:#f00;
    padding:0;
    line-height:35px;
}
.middle .reg {
    color:#03cafc;
    padding:0;
    line-height:35px;
}
.middle .agree {
    cursor: pointer;
    margin-top:22px;
    overflow:hidden;
}
.middle .agree .check {
    background:url(../images/login_kuang.jpg) no-repeat;
    height:28px;
    width:28px;
    float: left;
}
.middle .agree .selected {
    background:url(../images/login_gou.jpg) no-repeat;
}
.middle .agree p {
    float: left;
    font-size:18px;
    color:#333;
    margin-left:5px;
}
.middle .agree p a {
    color:#f22;
}
.middle .bottom {
    width:70%;
    margin: 0 auto;
    margin-top:35px;
    overflow:hidden;
}
.middle .bottom input {
    width:38%;
    border: 0;
    padding:0;
    margin:0 6%;
    height:40px;
    line-height:40px;
    color:#fff;
}
.middle .bottom .submit {
    background:#e60012;
    float: left;
}
.middle .bottom .reset {
    background:#666;
    float: left;
}